* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-color: hsl(257, 40%, 49%); */

  background: no-repeat url("images/bg-desktop.svg"), hsl(257, 40%, 49%);

  background-size: cover;
}

/* .content {
  min-height: 90vh;
}
 */

.logo {
  padding: 3em 7em;
}

.illustration {
  padding-left: 7em;
}

.main {
  display: flex;
  padding-top: 2em;
}

.info {
  /* border: solid 2px red; */
  padding: 3em;
  /* padding-right: 2em; */
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  padding-right: 1em;
}

.write-up {
  margin-top: 1em;
  padding-right: 3em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7em;
  color: white;
}

.register-button {
  background-color: white;
  border-radius: 2em;
  margin-top: 1.3em;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 0.8em 3.5em;
  text-decoration: none;
  color: hsl(257, 40%, 49%);
  box-shadow: 0px 3px 7px 4px hsl(257, 40%, 36%);
}

.register-button:hover {
  cursor: pointer;
  background-color: hsl(300, 69%, 71%);
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  margin: 2em 5em;
}
.social-icons {
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;
  color: white;
  margin: 1em;
  list-style: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  .body {
    background: no-repeat url("images/bg-mobile.svg"), hsl(257, 40%, 49%);

    background-size: cover;
  }

  .illustration {
    padding: 1em;
  }
  .logo {
    padding-left: 1em;
  }
  .main {
    flex-direction: column;
  }

  .heading,
  .write-up {
    text-align: center;
  }

  .heading {
    font-size: 30px;
    padding-right: 0;
  }

  .write-up {
    font-size: 18px;
    padding-right: 0;
  }
  .register-button {
    margin-left: 20%;
    text-align: center;
    padding: 0.8em 5.5em;
  }
  .social-media {
    justify-content: center;
  }
  .social-icons {
    margin: 0.3em;
  }
}
